@import "colors.scss";

* {
  all: unset;
  background: transparent;
  font-family: "JetBrainsMono Nerd Font";
  opacity: 0.9;
}

.time, .date {
  color: $on_surface;
  background: $surface_container;
  border-radius: 12px;
  font-size: 140%;

  border-width: 2px;
  border-style: solid;
  border-color: $primary;
}

.powermenu-parent {
  background-color: $surface_container;
  color: $on_surface;
  border-radius: 12px;
  font-size: 160%;

  border-width: 2px;
  border-style: solid;
  border-color: $primary;
}
.powermenu-child {
  color: $on_surface;
}
